.side-text {
  color: white;
  text-decoration: none;
  font-size: medium;
  padding: 2px;
  margin-bottom: 6px;
}

.side-sign {
  color: white;
  text-decoration: none;
  font-size: medium;
  padding: 8px;
  background: #3d4648;
  border-radius: 24px;
  margin: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.side-btn {
  background-color: #6495ed;
  text-align: center;
  text-decoration: none;
  font-size: small;
  color: white;
  border-radius: 8px;
  box-shadow: none;
  outline: none;
  margin: 2px;
}
.side-button-container {
  margin-top: 10px;
}
