.links-home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.links-main-header {
  color: #dff2ee;
  margin: 2px;
  font-size: 4rem;
}

.links-headers {
  color: #dff2ee;
  margin: 2px;
}

.links-parags {
  color: #dff2ee;
  margin: 2px;
}

.links-note {
  color: #dff2ee;
  font-size: 0.6rem;
}
.links-link-container {
  display: flex;
  margin-bottom: 12px;
  height: 70px;
}

.links-link-text-container {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.links-linkbtn {
  flex-basis: 5%;
  width: 70px;
  min-width: 35px;
  height: 30px;
  text-align: center;
  border: 1px, solid white;
  background: none;
  color: white;
  padding: 10px, 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.links-linkbtn:hover,
.links-linkbtn:active {
  color: black;
}

.links-linkbtn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #2ca9b0;
  z-index: -1;
  transition: 0.8s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.links-linkbtn:hover::before,
.links-linkbtn:active::before {
  height: 180%;
}

@media (max-width: 769px) {
  .links-main-header {
    color: #dff2ee;
    margin: 2px;
    font-size: 1.5rem;
  }

  .links-headers {
    color: #dff2ee;
    margin: 2px;
    font-size: 0.6rem;
  }

  .links-parags {
    color: #dff2ee;
    margin: 2px;
    font-size: 0.6rem;
  }

  .links-note {
    color: #dff2ee;
    font-size: 0.3rem;
  }

  .links-linkbtn {
    font-size: 0.6rem;
  }
}
