.DropDown {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.DropDown.open {
  transform: translateX(0);
}

.DropDown ul {
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.DropDown li {
  margin: 0.5rem 0;
}

.DropDown a {
  text-decoration: none;
  color: #6495ed;
  font-size: 1.2rem;
}

.DropDown a:hover,
.DropDown a:active {
  color: #ff8000;
  text-decoration: none;
}

@media (min-width: 769px) {
  .DropDown {
    display: none;
  }
}
